body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

#building {
    display: flex;
    align-items: stretch;
    gap: 20px;
    
}

#shaft {
    position: relative;
    background: #f4f4f4;
    border: 2px solid #222;
    padding: 0px;
    box-sizing: border-box;
}

#floors-ui {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.floor {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    border-bottom: 1px solid #ccc;
    background: #fafafa;
}

.lift {
    width: 40px;
    height: 60px;
    background: #555;
    position: absolute;
    bottom: 0;
    display: flex;
    overflow: hidden;
    border-radius: 4px;
    border: 2px solid #333;
}

.door {
    width: 50%;
    height: 100%;
    background: #ccc;
    transition: transform 2.5s linear;
}

.door.left {
    border-right: 1px solid #666;
    
}
.door.right {
    border-left: 1px solid #666;
}
@media (max-width: 600px) {
    #building {
        flex-direction: column;
    }

    #shaft {
        margin-bottom: 10px;
    }
}
