body {
    font-family: Arial, sans-serif;
    padding: 20px;
    overflow-x: hidden;
}

#building {
    display: flex;
    align-items: stretch;
    gap: 20px;
    border: #333;
    overflow-y: auto;
    overflow-x: hidden;
}

#shaft {
    position: relative;
    bottom: 0;
    padding: 0px;
    background: #f0ebeb;
    border: 1px #ccc solid;
    box-sizing: border-box;
    align-self: stretch;
}

#floors-ui {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    overflow-y: hidden;
}

.floor {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    border-bottom: 1px solid #ccc;
    background: #fafafa;
    flex-shrink: 0;
    box-sizing: border-box;
}


.floor-btn.active {
    background: #ffeb3b;
    box-shadow: 0 0 12px rgba(255, 235, 59, 0.9);
    transform: scale(1.1);
}
.floor-btn {
    padding: 6px 10px;
    margin: 0 4px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #666;
    background: #eee;
    display: flex;
}

.lift {
    width: 40px;
    height: 60px;
    background: #555;
    position: absolute;
    bottom: 0;
    display: flex;
    overflow: hidden;
    border: 2px solid #333;
    box-sizing: border-box;
}

.door {
    width: 50%;
    height: 100%;
    background: #ccc;
    transition: transform 2.5s linear;
}

.door.left {
    border-right: 1px solid #666;
    
}
.door.right {
    border-left: 1px solid #666;
}